body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #3b2f63;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #3b2f63;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
}
